.sidenav {
    height: 100%;
    width: 53px;
    position: fixed;
    z-index: 2;
    left: 0;
    background-color:aliceblue;
    overflow-x: hidden;
    transition: 0.1s;
}
  
.sidenav a {
    padding: 10px 10px 10px 10px;
    text-decoration: none;
    font-size: 16px;
    color:black;
    display: block;
    transition: 0.1s;
}
  
.sidenav a:hover {
    color: #ffffff;
    background-color: #0073D1;
}

.sidenav .closebtn {
    position: relative;
    float: right;
    display: none;
}
  
#main {
    transition: margin-left .1s;
}
  
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

.menubutton {
    float: left;
}
  
.options {
  display: none;
}

.optionsbtn {
  float: left;
}
